---
// src/pages/index.astro
import Layout from '@/layouts/Layout.astro';
import type { PageMeta } from '@/lib/constants';
import ExperienceCard from '@/components/ExperienceCard';

const meta: PageMeta = {};
---

<Layout {...meta}>
  <section id="about" class="max-w-4xl lg:max-w-2xl py-24">
    <h2 class="block lg:hidden sticky top-0 z-10 bg-background text-2xl sm:text-3xl font-bold py-4">
      About
    </h2>
    <p class="text-p leading-relaxed">
      I am Miguel Iglesias, a Computer Engineer graduated from UCLA (Universidad Centroccidental
      Lisandro Alvarado) in 2025.
    </p>
  </section>
  <section id="experience" class="max-w-4xl py-16">
    <h2 class="block lg:hidden sticky top-0 z-10 bg-background text-2xl sm:text-3xl font-bold py-4">
      Experience
    </h2>
    <ExperienceCard
      company="YouTube"
      role="Informatics Engineer"
      period="2025 — PRESENT"
      description="lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
      techs={['JavaScript', 'TypeScript', 'React', 'Storybook']}
      link="https://www.youtube.com/"
    />
  </section>
  <section id="projects" class="max-w-4xl py-16">
    <h2 class="block lg:hidden sticky top-0 z-10 bg-background text-2xl sm:text-3xl font-bold py-4">
      Projects
    </h2>
    <ExperienceCard
      company="YouTube"
      role="Informatics Engineer"
      period="2025 — PRESENT"
      description="lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
      techs={['JavaScript', 'TypeScript', 'React', 'Storybook']}
      link="https://www.youtube.com/"
    />
    <ExperienceCard
      company="YouTube"
      role="Informatics Engineer"
      period="2025 — PRESENT"
      description="lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
      techs={['JavaScript', 'TypeScript', 'React', 'Storybook']}
      link="https://www.youtube.com/"
    />
  </section>
</Layout>
