---
// src/pages/index.astro
import Layout from '@/layouts/Layout.astro';
import type { PageMeta } from '@/lib/constants';
import ExperienceCard from '@/components/ExperienceCard';

const meta: PageMeta = {};
---

<Layout {...meta}>
  <section id="about" class="max-w-4xl lg:max-w-2xl py-24">
    <h2 class="block lg:hidden sticky top-0 z-10 bg-background text-2xl sm:text-3xl font-bold py-4">
      Sobre mí
    </h2>
    <p class="text-lg text-foreground leading-relaxed">
      Soy un desarrollador apasionado por crear experiencias web accesibles y de alto rendimiento...
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat porro possimus culpa sunt
      accusamus eos beatae facere quisquam! Doloribus repellendus ratione sit, exercitationem fugiat
      aut maxime consectetur cum ea soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Alias fugiat, illo sequi itaque cupiditate maxime eius modi id blanditiis temporibus?
      Molestias sequi consequatur, delectus in id quo eum doloribus vero. lorem ipsum dolor sit amet
      consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
      voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    </p>
  </section>
  <section id="experience" class="max-w-4xl py-16">
    <h2 class="block lg:hidden sticky top-0 z-10 bg-background text-2xl sm:text-3xl font-bold py-4">
      Experiencia
    </h2>
    <ExperienceCard
      company="YouTube"
      role="Informatics Engineer"
      period="2025 — PRESENT"
      description="lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
      techs={['JavaScript', 'TypeScript', 'React', 'Storybook']}
      link="https://www.youtube.com/"
    />
  </section>
  <section id="projects" class="max-w-4xl py-16">
    <h2 class="block lg:hidden sticky top-0 z-10 bg-background text-2xl sm:text-3xl font-bold py-4">
      Proyectos
    </h2>
    <ExperienceCard
      company="YouTube"
      role="Informatics Engineer"
      period="2025 — PRESENT"
      description="lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
      techs={['JavaScript', 'TypeScript', 'React', 'Storybook']}
      link="https://www.youtube.com/"
    />
    <ExperienceCard
      company="YouTube"
      role="Informatics Engineer"
      period="2025 — PRESENT"
      description="lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
      techs={['JavaScript', 'TypeScript', 'React', 'Storybook']}
      link="https://www.youtube.com/"
    />
  </section>
</Layout>
