---
// src/layouts/Layout.astro
import Head from '@/components/Head.astro';
import '@/styles/global.css';
import type { PageMeta } from '@/lib/constants';
import SocialIcons from '@/components/SocialIcons.astro';
import CursorEffect from '@/components/CursorEffect';
import ScrollSpy from '@/components/ScrollSpy';

const props = Astro.props as PageMeta;
---

<!doctype html>
<html lang="en">
  <Head {...props} />
  <body class="bg-background text-foreground min-h-screen mx-auto">
    <div class="layout-root">
      <!-- Aside -->
      <aside class="layout-aside">
        <div>
          <h1 class="text-2xl lg:text-5xl font-bold mb-2 lg:mb-4">Miguel Iglesias</h1>
          <p class="text-base lg:text-2xl mb-4 lg:mb-8">Informatics Engineer</p>
          <div class="ml-1 hidden lg:block">
            <ScrollSpy client:load />
          </div>
        </div>
        <SocialIcons class="social-icons" iconSizeMobile="w-5 h-5" iconSizeDesktop="w-6 h-6" />
      </aside>
      <!-- Main -->
      <main class="layout-main">
        <CursorEffect client:load />
        <slot />
      </main>
    </div>
  </body>
</html>

<style lang="scss">
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
