---
// src/layouts/Layout.astro
import Head from '@/components/Head.astro';
import '@/styles/global.css';
import type { PageMeta } from '@/lib/constants';
import SocialIcons from '@/components/SocialIcons.astro';
import CursorEffect from '@/components/CursorEffect';
import ScrollSpy from '@/components/ScrollSpy';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import LanguageSelector from '@/components/LanguageSelector';

const props = Astro.props as PageMeta;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <Head {...props} lang={lang} />
  <body class="bg-background text-foreground min-h-screen mx-auto">
    <div class="layout-root">
      <!-- Aside -->
      <aside class="layout-aside">
        <div>
          <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold mb-2 lg:mb-4">Miguel Iglesias</h1>
          <p class="text-lg sm:text-xl lg:text-2xl mb-4 lg:mb-8">{t('layout.role')}</p>
          <div class="hidden lg:block">
            <ScrollSpy client:load lang={lang} />
          </div>
        </div>
        <div class="flex items-center gap-4">
          <SocialIcons class="social-icons" iconSizeMobile="w-6 h-6" iconSizeDesktop="w-8 h-8" />
          <LanguageSelector className="social-icons" client:load currentLang={lang} />
        </div>
      </aside>
      <!-- Main -->
      <main class="layout-main">
        <CursorEffect className="hidden lg:block" client:load />
        <slot />
      </main>
    </div>
  </body>
</html>

<style lang="scss">
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
